{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block title %}Inscription - Olympic Connect{% endblock %}


{% block content %}
<div class="account-container">
    <h2>{% trans "Inscription" %}</h2>
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "S'inscrire" %}</button>
    </form>
    <p>{% trans "Vous avez déjà un compte ?" %} <a href="{% url 'account_login' %}">{% trans "Connexion" %}</a></p>
</div>
{% endblock %}
