{% extends "base.html" %}
{% load static %}

{% block title %}Accueil - Olympic Connect{% endblock %}

{% block content %}
    <!-- Section de bienvenue -->
    <section class="welcome-section">
        <div class="container">
            <div class="welcome-message">
                <h1>Bienvenue sur Olympic Connect</h1>
            </div>
        </div>
    </section>

    <section class="events-section">
        <div id="eventlist-title">
            <h2>Événements à venir</h2>
            <div id="events-container" class="event-list">
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
