.cart-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-details ul {
    list-style-type: none;
    padding: 0;
}

.cart-details li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-details li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-details li p {
    margin: 0;
    flex-grow: 1;
}

.cart-details .remove-from-cart {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-details .remove-from-cart:hover {
    background-color: #cc0000;
}

.cart-details .cart-total {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

.cart-details .checkout-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.cart-details .checkout-btn:hover {
    background-color: #0056b3;
}

/* Styles pour la modale de paiement */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    text-align: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin: 10px 0 5px;
}

.modal-content form input {
    padding: 10px;
    margin-bottom: 10px;
}

.modal-content form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content form button:hover {
    background-color: #0056b3;
}

input::placeholder {
    color: #888;
    font-style: italic;
    opacity: 0.7;
}
